{% extends 'base.html' %}

{% block pagecontent %}
  {% if validlink %}
<style>
  form input {
  	width: 300px;
  }
</style>
  <div class="container">
    <div style="text-align:center;margin-top: 80px;margin-bottom:30px">
      <a href="/">
        <img class="logo" src="/assets/img/logo.png" style="height:120px"/>
      </a>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="login-panel panel panel-default"
              style="text-align:center;">
            <div class="panel-heading">
                <h5 class="panel-title">Reset Password</h5>
            </div>
          <div class="panel-body">

            <form method="post" style="text-align:center;">
                {% csrf_token %}
                {% for field in form %}
                <p>
                  {{ field.label_tag }}<br>
                  {{ field }}
                  {% if field.help_text %}
                    <small style="display: none">{{ field.help_text }}
                    </small>
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </p>
                {% endfor %}
                {% if form.errors %}
                <p class=" label label-danger">·
                  Your username and password didn't match. Please try again.
                </p>
                {% endif %}

                <button class="btn btn-modelchimp" type="submit">
                  Change Password
                </button>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
    <p style="color:white;">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
