{% extends 'base.html' %}

{% block pagecontent %}
  <div class="container">
    <div style="text-align:center;margin-top: 80px;margin-bottom:30px">
      <a href="/">
        <img class="logo" src="/assets/img/logo.png" style="height:120px"/>
      </a>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="login-panel panel panel-default" style="text-align:center;">
          <div class="panel-body" style="text-align:center;">
            <p >
              We've emailed you the instructions for resetting your password.
            </p>
            <p >
              If you don't receive an email, please make sure you've entered the address you registered with correctly,
              and check your spam folder.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
