boto3==1.9.209
celery==4.3.0
channels-redis==2.4.0
Django==2.2.3
django-allauth==0.39.1
django-compressor==2.3
django-htmlmin==0.11.0
django-storages==1.7.1
django-cors-headers==3.0.2
djangorestframework==3.9.4
django-rest-auth==0.9.5
furl==2.0.0
future==0.17.1
factory-boy==2.12.0
jsmin==2.2.2
marshmallow==2.19.5
Pillow==6.0.0
psycopg2==2.8.3
Pygments==2.4.2
python-decouple==3.1
redis==3.2.1
gunicorn==19.9.0
daphne==2.3.0
