/*
* MAIN CSS
*/

h1, h2, h3, h4, h5, p {
  font-family: 'Roboto', sans-serif;
  color: #5e4f4f;
}

hr {
  width: 100%
}

tr a {
  color: #5e4f4f;
}

iframe .player .title {
  display: none;
}


.text-color {
  color: #5e4f4f;
  font-family: 'Roboto', sans-serif;
}

.btn {
  margin-left: 5px;
}

.btn-modelchimp {
  color: #3bbbcf;
  background-color: white;
  border-color: #3bbbcf;
}

.btn-modelchimp-active {
  border-width: 3px;
  font-weight: bold;
}

.btn-modelchimp:hover {
  color: white;
  background-color: #3bbbcf;
  border-color: #3bbbcf;
}

.media {
  padding-bottom: 10px;
  border-bottom: 0.5px solid #c2c2c2;
  margin-top: 5px;
}

.owner {
  margin-left: 10px;
  background-color: #3bbbcf;
  border-radius: 20px;
  color: white;
  font-size: 11px;
  padding: 3px;
}

#profile-image {
  height: 40px;
  margin-right: 120px;
  border-radius: 100px;
  border-color: #3bbbcf;
  border-width: 1px;
  border-style: solid;
}

.trash {
  color: #fcc0c0;
  font-size: 24px;
}

.trash:hover {
  color: #fb5858;
}

.model-chimp-footer {
  height: 100px;
}

.key-token-block {
	background-color: #ededed;
	border-radius: 20px;
	border-color: black;
	border-width: 19px;
	margin-bottom: 20px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav-link {
  color:#5e4f4f !important;

}

.nav-link:hover {
  color:#3bbbcf !important;

}

.experiment-table {
  table-layout:fixed;
  word-wrap: break-word;
}

#experiment-meta-information {
  word-wrap: break-word;
}

/*
* Home
*/

.shift-down {
  margin-top: 10vh;
}

.menu-divider {
  border-top: 0.8px solid #c2c2c2;
  padding-top: 10px;
  border-bottom: 0.8px solid #c2c2c2;
  padding-bottom: 10px;
}

.project-row {
  border-bottom: 0.8px solid #c2c2c2;
  height: 100px;
}

.project-row h5 {
  margin-bottom: 0px;
}

.project-row h5:hover {
  color: #3bbbcf;
  margin-bottom: 0px;
}

#project-container a {
  text-decoration: none;
}

#version-block {
  position: relative;
  bottom: -5vh;
  right: 1vw;
  font-size: 1vh;
}
/*
* Model List
*/

.compare-mode {
  display: none;
}

.divider {
  border-bottom: 1.8px solid #c2c2c2;
  margin-bottom: 30px;
  display: block;
}

.metric-block {
  margin-top: 20px;
}

.rotate-right {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

.rotate-left {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.comment-icon {
  margin-left: 5px;
}

/*
* Landing Page
*/

.footer {
  text-align: center;
  height: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #5e4f4f;
}


/*
* Switch Button
*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3bbbcf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3bbbcf;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* LOADING SPINNER */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  position:absolute;
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 50%;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #3bbbcf;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
