{% extends 'base.html' %}
{% block cssstyle %}
<link href="/assets/css/model-list.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block pagecontent %}
{% include "navigation.html" %}

<div class="container">
    <div class="row shift-down">

        <div class="col-md-12">
          <h3 id="project-heading"
              data-project-id="{{ project.id }}">{{ project.name }}
          {% if owner_flag %}
            <i class="fa fa-trash trash"
               data-toggle="modal"
               data-target="#deleteProjectModal">
             </i>
          {% endif %}
          </h3>
        </div>

        <div class="col-md-6">
          <p>{{ project.description }}</p>
        </div>

        <div class="col-md-6 text-right">
            <button type="button"
                    class="btn btn-modelchimp"
                    onclick="showMembers()">Team: {{ member_count }}
            </button>
        </div>

        <div class="col-md-12" style="margin-bottom:20px;">
          <span class="key-token-block"><b>Key:</b>
            <span id="project-key">{{ project_key }}</span>
            <button id="project-copy" data-clipboard-text="{{project_key}}">
              <i class="fa fa-copy"></i>
            </button>
          </span>
        </div>

        <div class="col-md-12 text-left menu-divider">
            <div id="compare-mode-on" class="compare-mode">
              <button id="compare-init"
                      type="button"
                      class="btn btn-modelchimp"
                      onclick="initCompare()">Initiate Compare
              </button>
              <button id="compare-cancel"
                      type="button"
                      class="mr-5 btn btn-danger">Cancel
              </button>
            </div>
            <div id="compare-mode-off" class="compare-mode-flip">
              <button id="compare-start"
                      type="button"
                      class="btn btn-modelchimp">Compare
              </button>
              <a href="/project/{{ project.id }}/dashboard/experiment">
                <button type="button"
                        class="btn btn-modelchimp">Dashboard</button>
              </a>
              {% if not enterprise_flag %}
              <button type="button"
                      class="btn btn-modelchimp"
                      onclick="addMemberModal()">Add Members</button>
              {% endif %}
              <button type="button"
                      class="btn btn-modelchimp pull-right"
                      onclick="customiseTable()">Customise</button>
            </div>
        </div>
        <div id="model-list" class="col-md-12 text-color">
          <table id="ml-model-table-main" class="table ">
            <thead>
              <tr>
                <th scope="col" class="sl_no">#</th>
                <th scope="col" class="ml_name"></th>
                <th scope="col" class="ml_status"></th>
                <th scope="col" class="ml_submitted_on"></th>
                <th scope="col" class="ml_submitted_by"></th>
                <th scope="col" class="ml_comments"></th>
                <th scope="col" class="ml_labels"></th>
                <th scope="col" class="dummy_column1"></th>
                <th scope="col" class="dummy_column2"></th>
              </tr>
            </thead>
            <tbody id="ml-model-table">
            </tbody>
          </table>
        </div>
    </div>
</div>

<!-- Experiment delete modal -->
<div class="modal fade"
     id="deleteProjectModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Project Permanently</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="delete-project-modal-body" class="modal-body">
              <p> Are you sure you want to delete this project?</p>
            </div>
            <div class="modal-footer">
              <div>
                  <button type="button"
                          class="btn btn-danger"
                          id="delete-project-button">Delete</button>
                  <button type="button"
                          class="btn btn-modelchimp"
                          data-dismiss="modal">Close</button>
              </div>
            </div>
        </div>
    </div>
</div>

{% include "component/footer.html" %}
{% include "component/comment_modal.html" %}
{% include "component/add_member_modal.html" %}
{% include "component/show_members_modal.html" %}
{% include "component/customise_table_modal.html" %}
{% include "component/label_modal.html" %}
{% endblock %}

{% block jscontent %}
{% load static %}
{% load compress %}
{% compress js %}
<script src="{% static "/js/model_list.js" %}" type="text/javascript"></script>
{% endcompress %}
{% endblock %}
