{% extends 'base.html' %}

{% block cssstyle %}
<link href="/assets/css/model-compare.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block pagecontent %}
{% include "navigation.html" %}
<div class="container">

    <div class="row shift-down">
        <div class="col-md-12">
            <a id="project-title" href="/project/{{ml_model1.project.id}}">
              <h3 style="display:inline">{{ ml_model1.project.name }}</h3>
            </a>
            <span class="divider"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>{{ experiment_name1 }}</h4>
            <div class="metric-block">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Evaluation</h5>
                    </div>
                    <div class="col-md-6 text-right">
                        <i id="evaluation-arrow"
                            class="fa fa-chevron-down"
                            data-toggle="collapse"
                            data-target="#evaluation-table"
                            aria-expanded="true"
                            aria-controls="evaluation-table">
                        </i>
                    </div>
                </div>

                <span class="divider"></span>

                <div class="collapse show" id="evaluation-table">

                <table class="table text-color experiment-table">
                    <tbody>
                        {% for  e in ml_model1.evaluation_parameters %}
                            <tr>
                                <td class="w-50">
                                  {% if e.display_key %}
                                      {{ e.display_key }}
                                    {% else %}
                                      {{ e.key }}
                                  {% endif %}
                                </td>
                                <td class="w-50">{{ e.value }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>

                </div>
            </div>

           <div class="metric-block">
              <div class="row">
                  <div class="col-md-6">
                      <h5>Model</h5>
                  </div>
                  <div class="col-md-6 text-right">
                      <i id="model-arrow"
                          class="fa fa-chevron-down"
                          data-toggle="collapse"
                          data-target="#model-table"
                          aria-expanded="true"
                          aria-controls="model-table" >
                      </i>
                  </div>
              </div>

              <span class="divider"></span>

              <div class="collapse show" id="model-table">

              <table class="table text-color experiment-table">
                  <tbody>
                      {% for  m in ml_model1.model_parameters %}
                          <tr>
                              <td class="w-50"> {{ m.key }}</td>
                              <td class="w-50">{{ m.value }}</td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
              </div>
            </div>
        </div>

       <div class="col-md-6">
            <h4>{{ experiment_name2 }}</h4>
            <div class="metric-block">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Evaluation</h5>
                    </div>
                    <div class="col-md-6 text-right">
                        <i id="evaluation-arrow-two"
                        class="fa fa-chevron-down"
                        data-toggle="collapse"
                        data-target="#evaluation-table-two"
                        aria-expanded="true"
                        aria-controls="evaluation-table-two" >
                        </i>
                    </div>
                </div>

                <span class="divider"></span>

                <div class="collapse show" id="evaluation-table-two">
                  <table class="table text-color experiment-table">
                      <tbody>
                          {% for  e in ml_model2.evaluation_parameters %}
                              <tr>
                                  <td class="w-50">
                                    {% if e.display_key %}
                                        {{ e.display_key }}
                                      {% else %}
                                        {{ e.key }}
                                    {% endif %}
                                  </td>
                                  <td class="w-50">{{ e.value }}</td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                </div>

            </div>
            <div class="metric-block">

              <div class="row">
                  <div class="col-md-6">
                      <h5>Model</h5>
                  </div>

                  <div class="col-md-6 text-right">
                      <i id="model-arrow-two"
                          class="fa fa-chevron-down"
                          data-toggle="collapse"
                          data-target="#model-table-two"
                          aria-expanded="true"
                          aria-controls="model-table-two">
                      </i>
                  </div>
              </div>

              <span class="divider"></span>

              <div class="collapse show" id="model-table-two">
                <table class="table text-color experiment-table">
                    <tbody>
                         {% for  m in ml_model2.model_parameters %}
                            <tr>
                                <td class="w-50"> {{ m.key }}</td>
                                <td class="w-50">{{ m.value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>

             </div>
        </div>
    </div>
</div>

{% include "component/footer.html" %}

{% endblock %} {% block jscontent %}
{% load static %}
<script src="{% static "/js/model_compare.js" %}" type="text/javascript">
</script>
{% load compress %} {% compress js %}
{% endcompress %} {% endblock %}
