<!-- Modal -->
<div class="modal fade"
      id="commentModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >
          Discussion: <span id="commentModalTitle"></span>
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="comment-modal-body" class="modal-body">

      </div>
      <div class="modal-footer">
        <textarea name="comment" id="comment-input" style="width:100%" >
        </textarea>
        <div>
          <button type="button"
                  class="btn btn-modelchimp"
                  onClick="commentPost()">Comment</button>
        </div>
      </div>
    </div>
  </div>
</div>
