<!-- Modal -->
<div class="modal fade"
      id="labelModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Labels: <span id="labelModalTitle"></span>
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="label-modal-body" class="modal-body">
        <div class="row">
          <div class="col-10">
            Production
          </div>
          <div class="col-2">
            x
          </div>
        </div>
      </div>
      <div class="modal-footer">
      <input name="label" id="label-input" style="width:100%" > </input>
      <div>
        <button type="button"
                class="btn btn-modelchimp"
                id="label-button">Add</button>
       </div>
      </div>
    </div>
  </div>
</div>
