<a href="{% url 'model_detail' pk=ml_model.id %}">
  <button type="button" class="btn btn-modelchimp
  {% if url_name == "model_detail" %}
    btn-modelchimp-active
  {% endif %}">
    Parameters
  </button>
</a>

<a href="{% url 'model_detail_code' pk=ml_model.id %}">
  <button type="button" class="btn btn-modelchimp
  {% if url_name == "model_detail_code" %}
    btn-modelchimp-active
  {% endif %}">
    Code
  </button>
</a>

<button id="discussion-button"
        type="button"
        class="btn btn-modelchimp pull-right"
        onclick="getComments({{ ml_model.id }},'{{ experiment_name }}')">
  <i class="fa fa-comments"></i>
</button>

<button id="labels-button" type="button" class="btn btn-modelchimp pull-right">
  <i class="fa fa-tags"></i>
</button>

<a href="{% url 'model_detail_reports' pk=ml_model.id %}">
  <button type="button" class="btn btn-modelchimp
  {% if url_name == "model_detail_reports" %}
    btn-modelchimp-active
  {% endif %}">
    Reports
  </button>
</a>

<a href="{% url 'model_detail_custom_objects' pk=ml_model.id %}">
  <button type="button" class="btn btn-modelchimp
  {% if url_name == "model_detail_custom_objects" %}
  btn-modelchimp-active
  {% endif %}">
    Custom Objects
  </button>
</a>
<a href="{% url 'model_detail_images' pk=ml_model.id %}">
  <button type="button" class="btn btn-modelchimp
  {% if url_name == "model_detail_images" %}
  btn-modelchimp-active
  {% endif %}">
    Images
  </button>
</a>
